### Import de librerias

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Ejemplo de Kmeans en la documentacion de Sklearn

In [2]:
from sklearn.cluster import KMeans
import numpy as np
X = np.array([[1, 2], [1, 4], [1, 0],
              [10, 2], [10, 4], [10, 0]])
kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
kmeans.labels_

kmeans.predict([[0, 0], [12, 3]])

kmeans.cluster_centers_

array([[10.,  2.],
       [ 1.,  2.]])

### Import del data

In [5]:
df = pd.read_csv("datasets/Mall_Customers.csv" , index_col='CustomerID')
df.head()

            Gender  Age  Annual Income (k$)  Spending Score (1-100)
CustomerID
1             Male   19                  15                      39
2             Male   21                  15                      81
3           Female   20                  16                       6
4           Female   23                  16                      77
5           Female   31                  17                      40

In [6]:
##renombrar las columnas del csv
df.rename(columns={'Annual Income (k$)' : 'Income' , 'Spending Score (1-100)':'Spending_score'}, inplace=True)
df.head()

            Gender  Age  Income  Spending_score
CustomerID
1             Male   19      15              39
2             Male   21      15              81
3           Female   20      16               6
4           Female   23      16              77
5           Female   31      17              40